.DateRangePicker {
    margin-right: 1rem;
    .DateRangePickerInput {
        &__withBorder {
            border-color: var(--border-input-color);
            border-radius: var(--border-radius-base);
            padding: 0 .5rem;
            .DateInput_input {
                border: 0;
                line-height: initial;
                font-weight: initial;
                &:focus{
                    box-shadow: initial;
                }
            }
        }
    }
}
