ul.pagination {
  position: fixed;
  left: 75px;
  bottom: 0;
  z-index: 1;
  width: calc(100% - 75px);
  height: 75px;
  background-color: var(--white);
  border-top: 1px solid var(--primary-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 2rem;

  li {
    a {
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background 0.95s var(--primary-ease);
      border-radius: 100%;
      outline: 0;
      &:hover {
        background: var(--primary-green);
        color: var(--white);
        font-weight: bold;
      }
    }
    &.selected {
      a {
        background: var(--primary-green);
        color: var(--white);
        border-radius: 100%;
        font-weight: bold;
      }
    }
    + li {
      margin-left: 1rem;
    }
  }
}
