.form-control {
  position: relative;
  &.has-error {
    input {
      color: var(--danger);
      border: 1px solid var(--danger);
    }
  }
  + .form-control {
    padding-top: 1rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .error {
    font-size: 0.8rem;
    display: block;
    margin-top: 1rem;
    color: var(--danger);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="file"] {
  width: 100%;
  padding: .7rem 1rem;
  border: 1px solid var(--border-input-color);
  outline: 0;
  border-radius: var(--border-radius-base);
  font-size: 1rem;
  transition: all 0.5s var(--primary-ease);
  &:focus {
    box-shadow: var(--box-shadow-large);
  }
}

button,
input[type="button"],
input[type="submit"] {
  padding: .7rem 1rem;
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.btn {
  padding: 0.7rem 1rem;
  outline: 0;
  font-size: 1rem;
  border: 1px solid var(--border-color-base);
  background-color: var(--primary-green);
  color: var(--white);
  border-radius: var(--border-radius-base);
  transition: background 0.95s var(--primary-ease);
  position: relative;
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s var(--primary-ease);
    clip-path: circle(0%);
  }

  &:active:after {
    opacity: 1;
    transition: clip-path 0.95s var(--primary-ease);
    clip-path: circle(100%);
  }
  &:hover {
    cursor: pointer;
    background-color: var(--primary-dark-green);
    color: var(--white);
  }

  + button {
    margin-left: 1rem;
  }

  &-block {
    width: 100%;
  }

  &-back {
    margin-right: 1rem;
    border: 0;
  }

  &-outlined {
    background-color: transparent;
    color: var(--primary-green);
  }

  &-danger {
    background-color: var(--error-color);
    border-color: var(--error-color);
    color: var(--white);
    &:hover {
      background-color: var(--error-color__darken);
      border-color: var(--error-color__darken);
      color: var(--white);
    }
  }

  &:disabled{
    opacity: .5;
  }
}

.checkbox {
  min-height: 25px;
  min-width: 25px;
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--primary-gray);
    border-radius: var(--border-radius-base);
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover input ~ .checkmark {
    background-color: var(--gray);
  }

  input:checked ~ .checkmark {
    background-color: var(--primary-green);
    &:after {
      display: block;
    }
  }

  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .label {
    height: 25px;
    padding-left: calc(25px + 1rem);
    display: inline-flex;
    align-items: center;
  }
}

.search {
  display: flex;
  align-items: center;
}

.csv-reader-button {
  label {
    @extend .btn;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}