
:root {
  --body-background: #f7f7f7;
  --login-background: #f5f7fb;
  --white: #fff;
  --gray: #afafaf;
  --gray-900: #fdfdfd;
  --black: #000;
  --primary-blue: #4686f8;
  --primary-green: #009975;
  --primary-dark-green: #007a5d;
  --primary-gray: #f7f7f7;
  --primary-font-color: #464c4f;
  --primary-color: #464c4f; // primary color for all components
  --primary-ease: cubic-bezier(0.475, 0.425, 0, 0.995);
  --font-family: "Manrope Regular", sans-serif;
  --font-family-bold: "Manrope Bold", sans-serif;
  --font-family-medium: "Manrope Medium", sans-serif;
  --font-color: #a1a9a8;
  --link-color: #000; // link color
  --success-color: #a4db90; // success state color
  --warning-color: #e4b02a; // warning state color
  --error-color: #ec7a56; // error state color
  --error-color__darken: #c24f2c; // error state color
  --font-size-base: 14px; // major text font size
  --heading-color: rgba(0, 0, 0, 0.85); // heading text color
  --text-color: rgba(0, 0, 0, 0.65); // major text color
  --text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
  --disabled-color: rgba(0, 0, 0, 0.25); // disable state color
  --border-input-color: #868686; // major border radius
  --border-radius-base: 4px; // major border radius
  --border-radius-large: 20px; // large border radius
  --border-color: #eef1f4; // major border color
  --box-shadow-base: 0px 1px 4px rgba(0, 0, 0, 0.15); // major shadow for layers
  --box-shadow-reverse: 0px -1px 4px rgba(0, 0, 0, 0.15); // major shadow for layers
  --box-shadow-large: 0px 5px 10px rgba(0, 0, 0, 0.15); // shadow for layers
  --border-color-base: #009975; // major border color
  --border-radius: 20px;
  --global-link-color: #868686;
  --global-link-color__hover: --primary-color;
  --global-muted-background: #fff;
  --global-color: #000;
  --success: #a4db90;
  --danger: #ec7a56;
  --warning: #e4b02a;
}

html{
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}


a,
a:active,
a:visited {
  color: var(--primary-green);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.grecaptcha-badge{
  visibility: hidden;
}


.text-success{
  color: var(--success-color);
}

.text-danger{
  color: var(--error-color);
}